* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
  height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.project {
  display: flex;
  height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 80px;
}
.contP {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.icon2 {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon-hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px; /* Increase the space between icons */
}

.content h3 {
  color: burlywood;
  padding-bottom: 10px;
  margin: 5px; /* Adjust margin as needed */
  font-size: 30px;
  font-weight: bolder;
}

.contP h1 {
  padding-top: 20px;
  margin: 50px;
  font-size: 60px;
  font-weight: bolder;
}
.contP h2 {
  padding: 40px;
  padding-top: 10px;
  margin: 10px;
  font-size: 40px;
  font-weight: bolder;
}

.content p {
  padding: 0px;
  padding-top: 360px;
  font-size: 20px;
  letter-spacing: 2px;
}
.contP p {
  font-size: 22px;
  margin: 15px 0;
  max-width: 550px;
  letter-spacing: 2px;
}

.contP a {
  color: inherit;
  text-decoration: none;
  background-color: purple;
  padding: 12px 24px;
  border-radius: 10px;
}

.content a {
  color: inherit;
  text-decoration: none;
  background-color: purple;
  padding: 12px 24px;
  border-radius: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; /* Adjust as needed */
}

.icon-container > * {
  margin: 0 30px; /* Adjust spacing between icons */
  cursor: pointer; /* Change cursor to pointer when hovered */
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.icon-container > *:hover {
  transform: translateY(-5px); /* Move the icon up when hovered */
}

.icon2 > * {
  margin: 0px 90px; /* Adjust spacing between icons */
  cursor: pointer; /* Change cursor to pointer when hovered */
  transition: transform 0.3s ease;
}
.icon2 > *:hover {
  transform: translateY(-5px); /* Move the icon up when hovered */
}
.icon-hobbies > * {
  padding-right: 130px;
  margin: 0px 100px; /* Adjust spacing between icons */
  cursor: pointer; /* Change cursor to pointer when hovered */
  transition: transform 0.3s ease;
}
.icon-text {
  letter-spacing: 1px;
}
