* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  position: relative;
  height: calc(100vh - 55px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  margin-top: 55px; /* Adjust margin-top to create space for the fixed navbar */
}

.project {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-top: 55px; /* Adjust margin-top to create space for the fixed navbar */
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.contP {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.icon-container,
.icon2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon2 > *,
.icon-container > * {
  margin: 20px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon2 > *:hover,
.icon-container > *:hover {
  transform: translateY(-5px); /* Move the icon up when hovered */
}

.contP h1 {
  margin: 20px 0;
  font-size: 2rem;
  text-align: center;
}

.contP h2 {
  padding: 40px;
  padding-top: 10px;
  margin: 10px;
  font-size: 40px;
  font-weight: bolder;
}

.contP p {
  font-size: 22px;
  margin: 15px 0;
  max-width: 550px;
  letter-spacing: 2px;
}

.icon-text {
  text-align: center;
  margin: 5px;
}

.header {
  font-size: 20px;
  margin-top: 0px;
  margin: 0px;
  font-weight: bolder;
}
.header h3 {
  margin: 10px;
  color: burlywood;
}

.icon2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-item {
  flex: 1 1 30%;
  text-align: center;
  margin: 10px;
}

.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: url("./assets/project.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  color: beige;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.card-text {
  text-align: center;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-actions a {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .card-actions {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .icon-text {
    margin: 10px; /* Reduce spacing around each icon for smaller screens */
  }

  .header p {
    margin: 10px;
    font-size: 15px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .icon-item {
    flex-basis: 45%;
  }
}
@media screen and (max-width: 768px) {
  .contP {
    padding: 10px;
  }

  .contP h1 {
    font-size: 1.5rem;
  }
  .project {
    height: auto; /* Adjust height for smaller screens */
  }
}
